.gradle
/build/
bin
!gradle/wrapper/gradle-wrapper.jar
src/main/resources/static
*.log
*.log.*.gz
training-data/*
*.ks
tmp
tmp2
tmp1
tmp3
a.*.tmp
*.crt
*.key
*.pem
package.json
pnpm-lock.yaml
pnpmfile.js
target/
webpack.config.js
webpack.generated.js
frontend
temp-test-*
status.json

### OUTPUT ###
spring-shell.log
Ar4kAgent
ar4kAgent
*.ar4k
camel-test
.attach_pid*
*.keystore
ar4k-agent.log
logs/*
npm-debug.log
package-lock.json
node_modules
maven
.attach_pid*
*.conf.base64.ar4k
*.conf.json.ar4k
*.keystore

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
vagrant/LabOpenShift/crc-linux-amd64.tar.xz
